.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: #a15fa9;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  margin: 0;
  z-index: 1;
}

.header li {
  list-style-type: none;
}
.header li {
  height: 3rem;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease-in-out;
}

.header a {
  height: 100%;
  display: flex;
  padding: 0 1rem;
  align-items: center;
}

.header li:hover {
  background: #BA6520;
}
.header path {
  fill: #fff;
}

.active {
  background: #BA6520;
}
