.mdxLayout {
  background: #7B1F9D;
  position: relative;
  padding: 3rem 0;
  width: 100%;
  min-height: 100vh;
}

.mdxLayout a {
  font-size: 1.1rem;
  color: #BAF520;
}

.mdxLayout code {
  font-size: 1.1rem;
  color: #BA6520;
}

.mdxLayout article > p {
  color: white;
}

.mdxLayout article > ul {
  padding: 3rem 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.mdxLayout article > h2 {
  color: white;
}

.mdxLayout article ul > li {
  text-decoration: none;
  list-style: none;
  color: white;
}

.mdxLayout article ol > li {
  color: white;
}

.mdxLayout article strong {
  color: #F4585F;
}

.mdxLayout h2 {
  margin: 0;
  padding: 2rem 0;
}

.mdxLayout h3 {
  color: #fff;
  margin: 0;
  padding: 2rem 0;
}

