.transition {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  width: 100vw;
  background: #154A44;
}

.transitionBackground {
  pointer-events: none;
  width: 300px;
  height: 300px;
}
