.intro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ship {
  position: absolute;
  width: auto;
  height: auto;
}

@media (min-width: 750px) {
  .ship {
    scale: 2.3;
  }
}
