.bigText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bigText h2 {
  font-family: 'fr-fal1';
  color: #fff;
  font-size: 10rem;
}

.bigText p {
  color: #fff;
  font-family: 'PressStart';
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 9rem;
}
